<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/detail.css">
    <title>รายละเอียดสินค้า - DIY Computer</title>
</head>

<body>
    <header>
        <a href="/" class="logo"><img src="../../img/_logo_store.png" alt=""></a><a href="/" class="logo"><img src="../../img/_logo_store.png" alt=""></a>

        <form class="search-bar" action="/search" method="GET">
            <input type="text" name="query" placeholder="ค้นหาสินค้า..." />
            <button type="submit">ค้นหา</button>
        </form>

    </header>


    <div class="container">
        <h2 class="section-title">รายละเอียดสินค้า</h2>

        <div class="product-details">
            <div class="product-image">
                <img src="product-image.jpg" alt="Product Image" />
            </div>       
        </div>
    </div>
</body>

<footer>
    &copy; 2025 DIY Computer | สงวนลิขสิทธิ์
</footer>

</html>