<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Information</title>
    <link rel="stylesheet" href="../css/Edit.css">
</head>
<body>
    <div class="center">
        <h1>Edit Information</h1>

        <!-- ฟอร์มที่ส่งข้อมูลไปยัง Backend -->
        <form action="/updateuser" method="post"> 
            <!-- Username Input -->
            <div class="txt_field">
                <input type="text" name="username" required>  
                <span></span>
                <label>Username</label>
                <p><%= User.username%></p>
            </div>

            <!-- Password Input -->
            <div class="txt_field">
                <input type="password" name="password" required>  
                <span></span>
                <label>Password</label>
                <p><%= User.password%></p>
            </div>

            <!-- Email Input -->
            <div class="txt_field">
                <input type="email" name="email" required>  
                <span></span>
                <label>Email</label>
                <p><%= User.email%></p>
            </div>

            <!-- Phone Input -->
            <div class="txt_field">
                <input type="tel" name="phone" required>  
                <span></span>
                <label>Phone</label>
                <p><%= User.phone_number%></p>
            </div>

            <!-- Submit Button -->
            <input type="submit" value="Edit">
            

            <!-- ปุ่มยกเลิก -->
            <a href="/" class="cancel-btn">
                <input type="button" value="Cancel">
            </a>


            </div>
        </form>
    </div>
</body>
</html>
