<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rentals List</title>
    <link rel="stylesheet" href="../css/order.css">
    
</head>
<body>
    <div class="container">
        <h1>Rentals List</h1>
        <% let i = 1 %>
        <% payment.forEach(payment => { %>
            <div class="order-card">
                <h2>Rentals List <%= i++ %></h2>
                
                <% const startDateThai=new Date(payment.startDate).toLocaleDateString('th-TH', { 
                    day: '2-digit' , 
                    month: '2-digit' ,
                    year: 'numeric' 
                });%>

                <p class="order-date">Start Date : <%= startDateThai %></p>
                <a href="/receipt/<%= payment.payment_id %>" class="details">Detail</a>
                <p class="order-total">Total Rental : ฿<%= payment.totalPrice %></p>
            </div>
        <% }); %>
    </div>
</body>
</html>
