<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt Invitation</title>
    <link rel="stylesheet" href="receipt.ejs">
</head>
<body>
    <div class="receipt">
        <div class="title">RECEIPT</div>
        <div class="info">
            CROSSIRON MILLS MALL<br>
            261055 Crossiron Blvd<br>
            Rocky View County, AB T4A 0G3<br>
            November 24, 2013<br>
            Noon - 5pm
        </div>
        <div class="info">Please join us for Anna’s 14th birthday party!</div>
        <div class="items">
            <div><span>Lots of Fun</span> <span>0.00</span></div>
            <div><span>Hunger Games: Catching Fire</span> <span>0.00</span></div>
            <div><span>Shopping</span> <span>0.00</span></div>
            <div><span>Cupcakes/Movie Snacks</span> <span>0.00</span></div>
            <div><span>Swag</span> <span>0.00</span></div>
        </div>
        <div class="total">Total: Priceless</div>
        <div class="info">Please RSVP to Kristie or Anna at<br>403-555-1234 by<br>Friday, November 22, 2013.</div>
        <div class="info">Hope to see you there!</div>
        <div class="barcode"></div>
    </div>
</body>
</html>