<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Report</title>
    <link rel="stylesheet" href="../css/report.css">
</head>
<body>
    <div class="container">
        <h2>Report Table (user -> rental -> return)</h2>
        <table>
            <table>
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Rental ID</th>
                        <th>Return Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(function(user) { %>
                        <% rentals.forEach(function(rental) { %>
                            <% returns.forEach(function(returnItem) { %>
                                <% if (rental.user_id === user.id && rental.id === returnItem.rental_id) { %>
                                    <tr>
                                        <td><%= user.name %></td>
                                        <td><%= rental.id %></td>
                                        <td><%= returnItem.return_date %></td>
                                    </tr>
                                <% } %>
                            <% }); %>
                        <% }); %>
                    <% }); %>
                </tbody>
            </table>
            
        </table>
    </div>
</body>
</html>
