@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
  }

  .container {
    border: 1px solid #ccc;
    padding: 20px;
    width: 600px;
    margin: auto;
  }

  h1 {
    text-align: center;
  }

  .section {
    margin-bottom: 20px;
  }

  .section label {
    font-weight: bold;
  }

  .back{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #ff6f61;
  } 